{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["syntax-dynamic-import", {}],
  ],
  "retainLines": true,
  "sourceMaps": "inline"
}
